    font-size: 10px;
    tap-highlight-color: rgba(0, 0, 0, 0);
    }

    html {
        font-family: sans-serif;
        text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    * {
        box-sizing: border-box;
        box-sizing: border-box;
        box-sizing: border-box;
    }

    user agent stylesheet html {
        display: block;
    }

    :after,
    :before {
        box-sizing: border-box;
        box-sizing: border-box;
        box-sizing: border-box;
    }

    :after,
    :before {
        box-sizing: border-box;
        box-sizing: border-box;
        box-sizing: border-box;
